html {
    background-color: rgb(249, 221, 184);
}

h1, 
h2,
h3,
h6 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h2, 
h3 {
    background-color: pink;
}

h6 {
    font-size: 5px;
    text-align: justify;
}

p,
button {
    color:rgb(87, 61, 61);
    text-align:justify
}

button {
    background-color: bisque;
    font-weight: 700;
}


